@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color: rgb(207, 30, 119);
}

#root {
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  font-family: "Courgette", cursive;
  font-size: 38px;
  background: url(./images/flowers.webp) no-repeat center center fixed;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0% 4%;
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 15px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

form input {
  font-size: 38px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
}

::placeholder {
  color: var(--text-color);
}
